@import "_norm.scss";
@import "_media.scss";
$gray:rgb(100, 103, 92);
$red:rgb(172, 28, 28);
$green:rgb(106, 149, 33);
html{
	width:100vw;
	box-sizing:border-box;
	body{
		header{
			height:5vh;
			background:$gray;
			width:100vw;
			margin-bottom:1vh;
			ul{
				display:flex;
				height: 100%;
				justify-content:space-around;
				li{
					p{
						color:white;
					}
					font-size:1rem;
					text-align:center;
					display:inline-block;
					line-height:5vh;
				}
			}
		}
	}
}

section.gallery{
	width:100vw;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	.pic{
		width:23vw;
		height:17.25vw;
		background-color:$green;
		margin:1vw;
		transition:all 600ms ease-in-out;
		.img{
			width:100%;
			height:100%;
			background:red;
			img{
				width:100%;
				height:100%;
			}
		}
		.des{
			display:none;
			width:100%;
			text-align:center;
			line-height:1rem;
			h1{
				text-align:center;
			}
		}
	}
	.b{
		width:31vw;
		height:28.25vw;
		.img{
			width: 31vw;
			height:23.25vw;
		}
		.des{
			display:inline-block;
			width:100%;
			text-align:center;
			line-height:1rem;
		}
	}
}
