$gray:rgb(100, 103, 92);
$red:rgb(172, 28, 28);
$green:rgb(106, 149, 33);
@media all and (max-width: 425px) and (min-width: 300px) {
	html{
		width:100vw;
		body{
			header{
				height:5vh;
				margin-bottom:1vh;
				ul{
					flex-direction:column;

					height:30vh;
					li{
						display:auto;

						width:100vw;
						height:10vh;

						font-size:1rem;
						line-height:5vh;
						p{
						}
					}
				}
			}
		}
	}

	section.gallery{
		.pic.lg-hor{
			width:100vw;
			height:37.5vw;
		}
		.pic.norm-vert{
			width:100vw;
			height:125vw;
		}
		.pic{
			width:100vw;
			height:75vw;
			.img{
			}
			.des{
				h1{
				}
			}
		}
		.b{
			width:100vw;
			height:75vw;
			.img{
				width: 100vw;
				height:75vw;
			}
			.des{
				height:3.5vh;

				font-size:10px;
				line-height:auto;
				h1{
					line-height:0px;
				}
			}
		}
	}
}
@media all and (max-width: 769px) and (min-width: 426px) {
	html{
		width:100vw;
		body{
			header{
				height:5vh;
				margin-bottom:1vh;
				ul{
					li{
						font-size:1rem;
						line-height:5vh;
						p{
						}
					}
				}
			}
		}
	}

	section.gallery{
		.pic.lg-hor{
			width:64vw;
		}
		.pic.norm-vert{
			width:31vw;
			height:41.333vw;
		}
		.pic{
			width:31vw;
			height:23.25vw;
			.img{
			}
			.des{
				h1{
				}
			}
		}
		.b{
			width:31vw;
			height:23.25vw;
			.img{
				width: 31vw;
				height:23.25vw;
			}
			.des{
				height:3.5vh;

				line-height:auto;
				h1{
					font-size:10px;
				}
			}
		}
	}
}
@media all and (min-width: 770px) {

html{
	width:100vw;
	body{
		header{
			height:5vh;
			margin-bottom:1vh;
			ul{
				li{
					font-size:1rem;
					line-height:5vh;
					p{
					}
				}
			}
		}
	}
}

section.gallery{
	.pic.lg-hor{
		width:48vw;
	}
	.pic.norm-vert{
		width:23vw;
		height:30.666vw;
	}
	.pic{
		width:23vw;
		height:17.25vw;
		.img{
		}
		.des{
			h1{
			}
		}
	}
	.b{
		width:23vw;
		height:17.25vw;
		.img{
			width: 23vw;
			height:17.25vw;
		}
		.des{
			height:3.5vh;

			font-size:8px;
			line-height:8px;
		}
	}
}

}
