doctype html
head
	meta(charset="utf-8")
	title

	link(rel="stylesheet",href="../css/media.css")
	link(rel="stylesheet", href="../css/master.css", media="screen", title="no title", charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
body
	header
		ul
			li
				p Hey
			li
				p Hey
			li
				p Hey
	section.gallery
		div.pic.lg-hor
			div.img-norm
				img(src="../img/forest.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic.norm-vert
			div.img-norm
				img(src="../img/parentChild.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend
		div.pic
			div.img-norm
				img(src="../img/grass.jpg")
			div.des
				h1 hello there friend

script(type="text/javascript", src="../js/jquery-3.0.0.min.js")
script(type="text/javascript",src="../js/script.js")
