doctype html
head
	meta(charset="utf-8")
	title
	link(rel="stylesheet", href="../css/master.css", media="screen", title="no title", charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
body
	header
		ul
			li
				p Hey
			li
				p Hey
			li
				p Hey
	section.gallery

		div.pic
			img(src="../img/grass.jpg")
		div.pic
			img(src="../img/grass.jpg")
		div.pic
			img(src="../img/grass.jpg")
		div.pic
			img(src="https://static.pexels.com/photos/116777/pexels-photo-116777.jpeg")
		div.pic
			img(src="../img/grass.jpg")
		div.pic
			img(src="https://static.pexels.com/photos/116777/pexels-photo-116777.jpeg")
		div.pic
			img(src="../img/grass.jpg")
		div.pic
			img(src="https://static.pexels.com/photos/116777/pexels-photo-116777.jpeg")
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic
		div.pic

script(type="text/javascript", src="../js/jquery-3.0.0.min.js")
script(type="text/javascript",src="../js/script.js")
